.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.select {
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
}
@main ScreenImg: chukKrivie.svg;
@media (prefers-color-scheme: light) {
  #mediaFlag500 {
    color: white;
  }
  body {
    --themeBool: white;
    --day-bg: #f5f5f5;
    --day-bg-e1: #e7e7e7;
    --mainScreenImg: url(../img/chukKrivie.svg);
    --mainScreenImgMob: url(../img/chukMKrivie.svg);
    --mainScreenFilter: drop-shadow(0px 0px 45px #b0733f);
    --footerImage: url(../img/chukKrivie.svg);
    --footerBSh: #925f35 0px 0px 0px 170px, inset 0px -20px 16px -10px #0000001c;
    --hair: #00000034;
    --iBGColor: #6b4124;
    --iPcBGColor: #6b4124;
    --aboutBSh: 0px 20px 80px #75757536, 0px -250px 0px 200px #f5f5f5;
    --aboutBGColor: #f5f5f5;
    --pngWinPostBlockBSh: 0px 0px 38px -14px #7803ffa1;
    --pageWrapperBSh: 0 -180px 0 70px #f5f5f5;
    --hColor: #110e4a;
    --pColor: #464646;
    --strongColor: #110e4a;
    --nonColor: #b7b7b7;
    --contentBGColor: #f5f5f5;
    --postImgBSh: rgba(0, 0, 0, 0.58) 0 0 26px -7px, black 0 0 0 20px inset;
    --iMenuBGColor: white;
    --iMenuTelegText: #212121;
    --iMenuArrColor: #a2a2a2;
    --iMenuLineColor: #00000042;
    --headerBGColor: white;
    --headerBSh: rgba(0, 0, 0, 0.22) 0px 0px 26px -4px;
    --tabsIcoSh: drop-shadow(0px 0px 9px #a46b3bb8);
    --tabsIcoColor: #a46b3b;
    --miniPostBGColor: #fdbb85;
    --miniPostTitColor: #476365;
    --miniPostDiscColor: #717171;
    --miniPostHoverBSh: 0 0 30px 4px #fcbb858a;
    --chTitleColor: #404040;
    --fillColor: #252525;
    --chLoginBGColor: #f3f3f3;
    --chatLogNotColor: #888888;
    --shesWinFilter: invert(0);
    --headerTipsBG: #d6d6d6;
    --headerTipsColor: #373737;
    --headerTipsMainColor: #925f35;
  }
}
@media (prefers-color-scheme: dark) {
  #mediaFlag500 {
    color: black;
  }
  body {
    --f7-page-bg-color: var(--day-bg);
    --themeBool: black;
    --day-bg: #151111;
    --day-bg-e1: #1d1717;
    --mainScreenImg: url(../img/chukKrivieNightsvg.svg);
    --mainScreenImgMob: url(../img/chukMkrivieNight.svg);
    --mainScreenFilter: drop-shadow(#53091b 0px 0px 45px);
    --footerImage: url(../img/chukKrivieNightsvg.svg);
    --footerBSh: #53091b 0px 0px 0px 170px, #0000001c 0px -20px 16px -10px inset;
    --hair: #ffffff23;
    --iBGColor: #53091b;
    --iPcBGColor: #53091b;
    --aboutBSh: 0px 20px 80px #75757536, 0px -250px 0px 200px #151111;
    --aboutBGColor: #151111;
    --pngWinPostBlockBSh: 0px 0px 38px -14px #7803ffa1;
    --pageWrapperBSh: 0 -180px 0 70px #151111;
    --hColor: #afaedc;
    --pColor: #b7b7b7;
    --strongColor: #dcdcdc;
    --nonColor: #b7b7b7;
    --contentBGColor: #151111;
    --postImgBSh: 0 0 12px #739cff69;
    --iMenuBGColor: #1d1c1c;
    --iMenuTelegText: #c3c3c3;
    --iMenuArr: #a2a2a2;
    --iMenuLine: #383838;
    --headerBGColor: #0e0400;
    --headerBSh: #69222238 0 0 26px -4px;
    --tabsIcoSh: drop-shadow(0px 0px 9px #fa4d6a8f);
    --tabsIcoColor: #962240;
    --miniPostBGColor: #53091b;
    --miniPostTitColor: #d4d4d4;
    --miniPostDiscColor: #949494;
    --miniPostHoverBSh: #3e0033 0px 0px 30px 0px;
    --chTitleColor: #b3b3b3;
    --fillColor: #e0e0e0;
    --chLoginBGColor: #171717;
    --chatLogNotColor: #888888;
    --shesWinFilter: invert(1);
    --headerTipsBG: #1e1e1e;
    --headerTipsColor: #7f7f7f;
    --headerTipsMainColor: #530a1b;
  }
}
:root {
  --f7-grid-gap: 2rem !important;
}
::selection {
  background: #6c4124;
  color: white;
}
::-moz-selection {
  background: #6c4124;
  color: white;
}
::-webkit-scrollbar-button {
  background-image: url('');
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background-color: #971d2d00;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #6c4124;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6c4124;
}
::-webkit-resizer {
  background-image: url('');
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
@media (max-width: 700px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  background-color: var(--day-bg);
}
strong {
  color: var(--strongColor);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}
h2 {
  font-family: 'Inter', sans-serif;
  font-size: 26pt;
  color: var(--hColor);
  margin-top: 1.5em;
}
h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
  color: var(--hColor);
  margin-top: 2em;
}
p {
  color: var(--pColor);
  margin: 30px 90px;
  font-size: 19pt;
  line-height: 30px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}
@media (max-width: 700px) {
  p {
    margin: 0px;
    font-size: 14pt;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
non {
  text-decoration: line-through;
  opacity: 0.5;
  color: var(--nonColor);
  display: inline-block;
}
.page {
  background-color: var(--day-bg);
}
.ripple-wave {
  background-color: #00000038;
  z-index: 100;
}
.ripple.overflow-hidden {
  overflow: hidden;
}
@media (prefers-color-scheme: dark) {
  .ripple.ripple-dark-white .ripple-wave {
    background-color: #ffffff1c;
  }
}
.mainScreen {
  background-image: var(--mainScreenImg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  background-position: center;
  width: 100%;
  position: relative;
  z-index: 3;
  pointer-events: none;
  height: 116%;
  border-radius: 0px 0px 115px 115px;
  filter: var(--mainScreenFilter);
}
@media (max-width: 700px) {
  .mainScreen {
    border-radius: 0px 0px 65px 65px;
    background-image: var(--mainScreenImgMob);
  }
}
.mainScreen-tips {
  display: inline-block;
  pointer-events: all;
  left: 20%;
  color: #ffffffe0;
  font-size: 30px;
  position: relative;
  top: calc(100% - 45%);
  transform: translateX(-50%);
}
@media (max-width: 700px) {
  .mainScreen-tips {
    left: 35%;
  }
}
.mainScreen-tip {
  width: min-content;
  margin-top: 0.2em;
  font-size: 20pt;
  font-weight: 700;
  color: #6c4124;
  background-color: #fff0e4;
  padding: 0.7rem 1.3rem;
  border-radius: 40px;
}
#mediaFlag500 {
  display: none;
  position: absolute;
}
@media (max-width: 500px) {
  #mediaFlag500 {
    display: block;
  }
}
#disactiveTip {
  display: inline-block;
  opacity: 0.6;
  text-decoration: underline;
  transition: all 0.2s ease 0s;
  width: min-content;
}
@media (hover: hover) and (pointer: fine) {
  #disactiveTip:hover {
    font-style: inherit ;display: inline-block;transition: 0.2s;opacity: 0.9;;
  }
}
#disactiveTip.active-state {
  font-style: inherit ;display: inline-block;transition: 0.2s;opacity: 0.9;;
}
#about {
  box-shadow: var(--aboutBSh);
  border-radius: 0px 0px 40px 40px;
  position: relative;
  z-index: 2;
  background-color: var(--aboutBGColor);
}
.pageWrapper {
  text-align: justify;
  padding: 30px 30px 50px 30px;
  margin-bottom: 2em;
  -webkit-touch-callout: text;
  /* iOS Safari */
  -webkit-user-select: text;
  /* Safari */
  -khtml-user-select: text;
  /* Konqueror HTML */
  -moz-user-select: text;
  /* Old versions of Firefox */
  -ms-user-select: text;
  /* Internet Explorer/Edge */
  user-select: text;
  cursor: text;
  box-shadow: var(--pageWrapperBSh);
}
@media (max-width: 700px) {
  .page-content {
    margin-bottom: -3rem;
  }
}
.fak {
  margin-bottom: -0.1em;
  display: inline-block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.tabsB {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  width: 100vw;
  z-index: 3;
  opacity: 0;
  background-color: var(--day-bg-e1) !important;
  transition: 0.3s ease;
}
.tabsB-item {
  padding: 1rem 2rem;
  color: var(--iBGColor) !important;
  transition: 0.2s ease;
}
.tabsB-item > * {
  pointer-events: none;
}
.tabsB-item.tab-link-active {
  color: var(--tabsIcoColor) !important;
  filter: var(--tabsIcoSh);
}
.tabbar::before {
  background-color: var(--hair) !important;
}
.contacts {
  width: 100vw;
  height: auto;
  background-color: var(--iMenuBGColor);
  box-sizing: border-box;
  padding: 2rem 1rem 3rem;
  padding-bottom: 3rem;
  border-radius: 2rem 2rem 0rem 0rem;
}
.contacts .swipe-handler {
  height: 0.5rem;
  width: 3.4rem;
  background-color: var(--pColor);
  border-radius: 11rem;
  margin: auto;
  opacity: 0.3;
  transform: translateY(-200%);
}
.contacts i {
  position: absolute;
  right: 1rem;
  bottom: 50%;
  transform: translateY(50%);
  opacity: 0.2;
}
.contacts .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}
.contacts .swiper-slide span {
  color: var(--pColor);
  font-size: 15pt;
}
.contacts .swiper-slide button {
  margin-top: 1.5rem;
  font-size: 16pt;
  padding: 1.5rem;
  width: auto;
  border-radius: 111rem;
}
.contactsBtn {
  display: flex;
  /* color: red; */
  position: fixed;
  bottom: 0rem;
  color: inherit;
  right: 0rem;
  transform: translate(-50%, -40%) !important;
  width: 3.5rem;
  height: 3.5rem;
  /* height: 4rem; */
  background-color: var(--iBGColor) !important;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 15pt;
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.767);
}
.contactsBtn > a {
  background-color: transparent;
  box-shadow: none;
}
.ripple-wave {
  background-color: rgba(0, 0, 0, 0.253);
  background-color: rgba(255, 255, 255, 0.253);
}
.content {
  height: auto;
  background-color: var(--contentBGColor);
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0px 0px 65px 65px;
  position: relative;
  z-index: -1;
  padding: 0 0rem 4rem 0rem;
}
@media (max-width: 700px) {
  .content {
    padding: 2rem 1rem 4rem 1rem;
  }
}
@media not all and (max-width: 700px) {
  .content.png {
    padding: 1rem 2rem 3rem;
  }
}
.post {
  position: relative;
  display: inline-block;
  transition: all 0.5s cubic-bezier(1, 0.01, 1, 0) 0s;
  margin-top: 2rem;
}
.post:not(:last-child) {
  margin-bottom: 2rem;
}
@media (max-width: 700px) {
  .post {
    position: relative;
    width: 100%;
    display: inline-block;
    transition: all 0.2s ease 0s;
  }
}
.post-img {
  box-shadow: var(--postImgBSh);
  transition: all 1s ease 0s;
  border-radius: 40px;
  height: 80vh;
}
@media (max-width: 700px) {
  .post-img {
    width: 100%;
    height: auto;
    box-shadow: #767676 0px 0px 50px -7px;
  }
}
.post-tit {
  position: absolute;
  top: 0px;
  -webkit-text-stroke: -337px;
  font-weight: 800;
  z-index: 3;
  color: #ffffff;
  margin: 33px;
  font-size: 30pt;
  transition: all 0.5s ease 0s;
}
@media (max-width: 700px) {
  .post-tit {
    margin: 22px;
    font-size: 20pt;
  }
}
.pngPost {
  position: relative;
  margin-top: 1.5rem;
}
@media (max-width: 700px) {
  .pngPost {
    margin-top: 0rem;
  }
  .pngPost:not(:last-child) {
    margin-bottom: 3rem;
  }
}
.pngPost img {
  width: 100%;
  border-radius: 2rem;
}
.pngPost .imgUnder {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.6;
  filter: blur(15px) brightness(0.6) saturate(2);
  z-index: -1;
}
@media (prefers-color-scheme: light) {
  .pngPost .imgUnder {
    opacity: 0.8;
  }
}
.photo-browser-swiper-wrapper {
  box-shadow: 1px 1px 0 2000px #000000b0;
}
.photo-browser-popup img {
  box-shadow: 1px 1px 0 2000px #000000b0;
}
.photo-browser-popup .page {
  background-color: transparent;
}
.photo-browser-popup {
  box-shadow: 1px 1px 0 2000px #000000;
  transition: 0.3s;
}
.photo-browser-caption {
  margin-bottom: 1rem;
}
footer {
  background-image: var(--footerImage);
  color: white;
  background-size: cover;
  text-align: center;
  background-position-y: bottom;
  padding: 40px;
  box-shadow: var(--footerBSh);
  font-size: 14pt;
}
@media (max-width: 700px) {
  footer {
    font-size: 10pt;
  }
}
.wide.rem2 {
  --w: calc(100% + 2rem);
}
.wide.rem4 {
  --w: calc(100% + 4rem);
}
.wide.rem2_4Auto {
  --w: calc(100% + 2rem);
}
@media (max-width: 700px) {
  .wide.rem2_4Auto {
    --w: calc(100% + 4rem);
  }
}
.wide::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: var(--w);
  height: var(--w);
}
